:root{
  --colorORSalud: rgba(81,32,68,255);
  --colorTablas: rgb(93, 15, 89);
  --colorPie: #333;
  --colorTexto: yellow;
  --colorFijo: yellow;
  --colorCuerpo: rgb(3, 29, 231);
  --colorLinks: yellow;
  --colorFormularios: #8f0788;
}