:root{
  --colorORSalud: rgba(81,32,68,255);
  --colorTablas: rgb(93, 15, 89);
  --colorPie: #333;
  --colorTexto: white;
  --colorFijo: #f0f0f0;
  --colorCuerpo: rgb(87, 87, 87);
  --colorLinks: rgb(58, 146, 234);
  --colorFormularios: #8f0788;
}